<div class="content w-full p-20">
  <h1 class="p-relative">Education</h1>
  <div class="parent ">
    <div class="education-section d-flex f-wrap p-20 rad-10">
      <div class="image-content p-relative mb-20">
        <img src="education.jpg" alt="Education" class="rad-10">
      </div>

      <div class="text-content w-full p-20">
        <h2 class="fs-25 c-black fw-bold mb-10">AN-Najah National University</h2>
        <h3 class="fs-15 c-grey mb-20">Software Engineer, Expected graduation MAR 2025</h3>
        <p class="fs-14 c-black">
          Studying Software Engineering at An-Najah National University, where I'm learning about programming, designing
          software, and building system architecture. Working with teams on projects to improve problem-solving skills.
          Appreciating the supportive academic environment, getting ready for a successful career in software
          engineering.
        </p>
      </div>
    </div>
  </div>
</div>